# Core dependencies
PyYAML
python-dotenv
torch
pytorch-lightning
pytorch-forecasting
transformers
sentence-transformers
modAL
alpaca-py
fastapi
uvicorn
backtrader
redis
flask
matplotlib
plotly
pandas
numpy
aiohttp
requests
pytest
apscheduler
pandas_market_calendars
yfinance
praw
asyncpraw
vaderSentiment
slack_sdk
websocket-client
pyngrok
tensorflow
xgboost
optuna
sseclient-py
pytest-asyncio
pyautogen
pytz
openai
psutil
pynvml
websockets
aioredis
lightgbm
tensorrt
